src/fr/ul/miage/compilation/generated/*.java
src/fr/ul/miage/compilation/generated/*.class
src\fr\ul\miage\compilation\generated\
src/fr/ul/miage/compilation/
.project
.classpath
.externalToolBuilders
*.class